/* Site background color */
html { background-color: #6ba658; }

/* Content area colors */
#content-wrap { background-color: #fffce0; border-color: #c4c391; }

/* Text */
h1, h2, h3, h4, h5, h6 { color: #477339; }
a { color: #994e1c; }
a:hover, a:active { color: #e05a00; }

/* Navigation */
#top-nav a, #main-nav a { color: #914a1a; }
#top-nav a:hover , #main-nav a:hover { color: #e05a00; }
.subnav-list a:hover, .subnav-list a:active, .subnav-list > .item-hover a { background: #6d995f; }

/* Buttons */
input.submit, input.reset, .link-btn, .more-link, .pagination a, .pagination .current, #cancel-comment-reply-link, .comment-reply-link, #older-comments a, #newer-comments a {
    background-color: #a6a46f;
}

/* Horizontal dividers */
.divider-top a:hover { color: #e05a00; }

/* Elements using Headings color */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #477339; }
#header .text-logo { color: #477339; }
.pagination .current { background: #477339; border-color: #477339; }
